p,ol{
    font:sans-serif;
    font-size:14px;

}   
h1 {font: sans-serif;
font: size 20px;
font-weight:bold;
color:rgb(205, 140, 245)}
h2 {font: sans-serif;
font-size:18px;
font-weight:bold;
color: rgba(244, 124, 124, 0.845)}
h3 {font: sans-serif;
font-size:15px;
font-weight:bold;
color: rgb(225, 206, 151);
}
h4 {
    font: sans-serif;
    font-size:18px;
font-weight:bold;
color:  rgb(216, 156, 103) ;
}

.example {
    font-size: 18px;
    color: rgb(216, 156, 103) ;
}

body{
    background-color: rgb(37, 37, 37);
    font-size:12pt
}